:root {
  --green: #a5a655;
  --yellow: #e0b342;
  --pink: #c14868;
  --turquoise: #48bccd;
  --grey: #717574;
  --font: "Nunito", sans-serif;
}

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffdf4f;
  text-shadow: #717574;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

footer {
  background-color: #c14868;
  color: white;
  font-weight: bold;
  text-align: center;
  height: 3rem;
}

h1 {
  background-color: #ffdf4f;
  color: white;
  size: 24px;
}

img {
  size: 60px;
}

 input {
  width: 200px;
  height: 1.75rem;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  align-items: stretch;
} 

.signupContainer {
  flex-wrap: wrap;
  background-color: rgba(255, 255, 0, 0.363);
  max-width: auto 100px;
  margin: auto;
  text-align: center;
  padding-top: 5em;
}

.breadCrumb {
  display: flex;
  list-style: none;
  justify-content: center;
}

.breadCrumb li {
  padding: 5px;
}

.signUp {
  display:grid;
  grid-template-columns: max-content max-content;
  grid-gap:5px;
  align-items: center;
  justify-content: center;
}

.signUp label { 
  text-align:right; 
}
