:root {
  --green: #a5a655;
  --yellow: #e0b342;
  --pink: #c14868;
  --turquoise: #48bccd;
  --grey: #717574;
  --font: "Nunito", sans-serif;
}

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

footer {
  background-color: #c14868;
  color: white;
  font-weight: bold;
  text-align: center;
}

h1 {
  background-color: #ffdf4f;
  color: white;
  size: 24px;
}

img {
  size: 60px;
}
