@font-face {
  font-family: "Nunito";
  src: local("Nunito"), url(../src/Nunito.ttf) format("truetype");
}

@font-face {
  font-family: "Koulen";
  src: local("Koulen"), url(../src/Koulen.ttf) format("truetype");
}

:root {
  --green: #a5a655;
  --yellow: #e0b342;
  --pink: #c14868;
  --turquoise: #48bccd;
  --grey: #717574;
  --font: "Koulen", sans-serif;
}

body {
  margin: 0;
  font-family: "Koulen", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffdf4f;
  height: 100%;
}

h1 {
  background-color: #ffdf4f;
  color: white;
  size: 24px;
}

img {
  padding: 5px;
  width: 200px;
  align-items: center;
}

input {
  width: 200px;
  height: 1.75rem;
  padding: 1;
  margin: 1;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  align-items: stretch;
}

.input-text {
  color: #ffffff;
  text-shadow: 3px 3px #df2ba3;
  letter-spacing: 2px;
}

.signUp {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 5px;
  align-items: center;
  justify-content: center;
}

.signUp-label {
  display: grid;
}

.signup-title {
  text-align: center;
  color: #ffffff;
  text-shadow: 3px 3px #df2ba3;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 4px;
}

.logo {
  text-shadow: 2px 2px #c14868;
  font-size: 50px;
  text-align: center;
  margin-bottom: 0%;
}

.signupContainer {
  flex-wrap: wrap;
  max-width: auto 100px;
  margin: auto;
  text-align: center;
  padding-top: 5em;
}

.tag-line {
  color: #c14868;
  text-shadow: 2px 2px white;
  text-align: center;

  font-size: 25px;
}

@media screen and (max-width: 905px) {
  .extra-icon {
    display: none;
  }
}

.test-card-signup {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 425px;
  background: rgb(72, 188, 205);
  background: linear-gradient(
    180deg,
    rgba(72, 188, 205, 1) 0%,
    rgba(193, 72, 104, 1) 51%,
    rgba(224, 179, 66, 1) 90%
  );
  border-radius: 10px;
  padding: 0.75rem;
  box-shadow: 7px 7px rgba(128, 128, 128, 0.514);
}

.go-to-login {
  color: black;
}

.go-to-signup {
  color: black;
}
