.text {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px #c14868;
  font-size: 50px;
  margin-left: 3rem;
  margin-bottom: 3rem;
}

.body-text {
  font-family: "Nunito", sans-serif;
  font-size: 25px;
  color: #c14868;
  margin-left: 4rem;
}
