.about {
  text-align: center;
  border: #c14868 solid 0.03rem;
  border-radius: 0.25rem;
  box-shadow: #8b334b 0rem 0.1rem 0.3rem 0.02rem;
  margin-top: 1rem;
  margin-left: 20%;
  margin-right: 20%;
  padding: 0.5rem;
  background-color: var(--turquoise);
  color: white;
}
